* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#outer-container{
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: auto;
}

#game-text{
    display: flex;
    background-color: #eb8282;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}