* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#outer-container{
    display: flex;
    flex-direction: column;
    background-color: brown;
    height: auto;
    
}

#game-text{
    display: flex;
    background-color: #eb8282;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    
}

#game-text div{
    display: flex;
    height: 30px;
    width: auto;
    max-width: 1200px;
    background-color: #a175f1;
    padding: 5px;
    margin: 5px;
    justify-content: center;

}

#stickmanCanvas{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 300px;
    background-color: #f0f0f0;
    border-bottom: 5px solid #ccc;
}

#game{
    height: 310px;
    width: auto;
    justify-self: center;
    background-color: #1a1919;
    display: grid;
    justify-content: center;
    margin: 0 5px;
}

.underline {
    display: flex;
    border-bottom: 1px solid rgb(233, 42, 42);
    margin: 5px;
    width: auto;
    text-align: center;
    background-color: bisque;
    height: auto;
    justify-content: center;
}
.underline-box{
    width: 20px;
    height: 20px;
    border-bottom: 2px solid black;
    margin: 5px;
    text-align: center;
    color: transparent;
}
#keys-outer-box{
    display: flex;
    justify-content: center;
    background-color: bisque;
}

#keys-box{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    margin: 5px;
    background-color: aquamarine;
    justify-self: center;
}

.key{
    display: flex;
    
    height: 30px;
    width: 30px;
    line-height: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 5px 5px rgb(8, 100, 131);
}

